body {
  background-color: #87cefa;
  text-align: center;
  font: Helvetica;
} 


div {
  margin: 10px;
  padding: 6px;
  border-radius: 5px;
  width: 600px;
  height: 30px;
  margin-left: 25%;
} 

div.shawndrost {
  background-color: #FFFF10;
}

div.sharksforcheap {
  background-color: #FFC0CB;
}

div.mracus {
  background-color: #00FFFF;
}

div.douglascalhoun {
  background-color: #808000;
}

.username {
  cursor: pointer;
  text-decoration: underline;
}



h1 {
  text-align: left;
  font: italic;
}

button {
    cursor: pointer;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: left;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    height: 50px;
    float: left;
}