body {
  background-color: #93ffe8;
  text-align: center;
  font: Helvetica;
} 


div {
  padding: 6px;
  border: solid;
  border-color: black;
  border-radius: 15px;
  border-width: 2px;
  width: 1000px;
  height: 60px;
  margin-left: 20%;
  font-size: 20px;
  font: Cambria;
  overflow: hidden;
} 


.username {
  cursor: pointer;
  text-decoration: underline;
}

.username:hover {
  color: #0000ff;
}

.individual {
  color: blue;
  font-weight: bold;
  font-size: 35px;
  margin: 20px;
  text-align: center;

}

h1 {
  margin-top: 2%;
  font: italic;
  font-size: 50px;
}

button {
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #66ccff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: underline;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    margin: 20px;
}

input[type="text"] {
    width: 30%;
    font-size:25px;
}

#text1,#text2 {
  margin : 20px;
}

#registerUser{
  float: top;
}

#go,#enterTweet {
  width: 60px;
  height: 35px;
  background-color: #66ccff;
}

.iii{
  margin-left: 700px;
}